/* Variables Document */

//Background Color Pallate
$color-primary: #f83d3d;
$colo-secondary: #17ddbf;

$color-primary-light: #e96a6a;
$color-secondary-light: #82f1e0;

$color-primary-dark: #c60909;
$color-secondary-dark: #06917c;

$color-black: #000;
$color-white: #fff;

//Text Color Pallate
$text-white: #fff;
$text-black: #000;
$text-grey-dark: #777777;
$text-grey-light: #f7f7f7;

//Font Size
$default-font-size: 1.6rem;

//Grid Variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;